@model FEENALOoFINALE.Models.Alert

@{
    ViewData["Title"] = "Delete Alert";
}

<h1>Delete Alert</h1>

<div class="alert alert-danger">
    <h3>Are you sure you want to delete this alert?</h3>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <dl class="row">
            <dt class="col-sm-3">Equipment</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => Model.Equipment.Name)</dd>  // Changed from item to Model and td to dd
            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">@Model.Description</dd>

            <dt class="col-sm-3">Priority</dt>
            <dd class="col-sm-9">@Model.Priority</dd>

            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9">@Model.Status</dd>

            <dt class="col-sm-3">Created Date</dt>
            <dd class="col-sm-9">@Model.CreatedDate.ToShortDateString()</dd>

            <dt class="col-sm-3">Assigned To</dt>
            <dd class="col-sm-9">@(Model.AssignedTo?.FullName ?? "Unassigned")</dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Equipment)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Equipment.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="AlertId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>